body {
  margin:0 auto;
}

h1,h3 {
  margin-top:1.5em;
  text-align:center;
}

.buttons{
  display:block;
  text-align:center;
}

#restartBtn {
  padding:1em;
  border:3px solid #2980b9;
  border-radius:10px;
  background-color: white;
}

.box {
  margin-left: 40px;
  height: 200px;
  width: 200px;
  display: inline-block;
}
img {
  height: 200px;
  width: 200px;
}

.arena {
  -webkit-user-select: none;
  width:100%;
  text-align:center;
  background-color:white;
}
.board {
  width: 50%;
  display:inline-block;
}

.instructions{
  width: 100%;
  display:block;
  text-align: left;
}

li {
  padding-bottom: 2px;
}

.form button{
  margin-top: 10px;
  font-size: 15px;
  /*pointer-events1:none;*/
}

/*.unclickable {
  pointer-events:none;
}*/

.form {
  width: 40%;
  display:inline-block;
  font-size: 20px;
}
.submission{
  display:none;
}

.score-board {
  padding:1em;
  text-align:center;
  width:50%;
  margin:0 auto;
  margin-top:2em;
  background-color: #1abc9c;
  border:3px solid #2980b9;
  border-radius:10px;
  color:white;
  font-size:1.3em;
}

@media only screen and (max-width: 500px) {

  .board {
    width: 100%;
    display:block;
    padding: 0;
  }

  .instructions{
    width: 100%;
    display:block;
    text-align: justify;
    padding: 0;
  }
}
